table{
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 20px;
}

th,td{
    border: 1px solid blue;
    padding: 8px;
    
}

th{
    color: blue;
    background: #e7e6eb;
}

tr:nth-child(odd) {
    background-color: #99FF33;
}
