*{
    padding: 0;
    margin: 0;
}

h1{
    background-color: grey;
    color: red;
    text-align: center;
    text-shadow: 5px 3px green;
    border: 3px solid blue;
}

p{
    padding: 20px;
    background: url(img/bg1.jpg) no-repeat fixed;
    color: blue;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 3px;
    word-spacing: 6px;
    border-top: 2px dashed red;
    border-right: 2px double green;
    border-bottom: 2px dotted cyan;
    border-left: 2px solid orange;

}